* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #fff;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", serif;
    font-style: normal;

    background-image: url('/static/img/error-background.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;

    margin-bottom: 70px;
}

img {
    width: 300px;
    height: 300px;

    opacity: 60%;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
}

form {
    margin-top: 70px;
}

.opacity-background {
    background-color: #000;
    opacity: 60%;

    width: 100%;
    height: 100%;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    padding: 15px;
    gap: 20px;
}

button[type="submit"] {
    border: 1px solid #fff;
    border-radius: 8px;

    background-color: transparent;
    backdrop-filter: blur(15px);

    width: 300px;
    height: 70px;
    padding: 20px;
    
    font-size: 1.4rem;
    font-weight: 300;

    cursor: pointer;

    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #ffffff67;
    color: #000;
    transform: scale(1.15);
}
